@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-main: theme('colors.bg-darkest');
    --bg-card: theme('colors.bg-dark');
  }

  body {
    background-color: theme('colors.bg-darkest');
    color: theme('colors.text-light');
    font-family: "Nunito"
  }
}